
<div class="text-center">
<h1 class="p-3 m-2">Mes conversations</h1>

  <div class="container">
    <div class="grid-perso">
      <div class="grid-item">
        <%= button_to chats_path, method: :post, class: "btn-add d-flex" do%>
          Nouveau chat<img src="<%= image_path('plus-chat.png')%>" alt="">
        <% end %>
      </div>
      <% @chats.each do |chat| %>
        <div class="grid-item conv">
          <%= link_to "#{chat.title}", chat_path(chat), class: "btn"%>
          <p><% chat.messages.each do |m| %>
            <%= m.content %>
          <% end %></p>

          <%= button_to chat_path(chat), method: :delete, class: "btn btn-dark", data: { confirm: "Supprimer cette conversation ?" } do %>
            Supprimer <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
