
<div class="text-center">
<h1 class="p-3 m-2">Mes conversations</h1>

  <div class="container">
    <div class="grid-perso">
      <div class="grid-item">
        <%= button_to chats_path, method: :post, class: "btn-add d-flex" do%>
          Nouveau chat<img src="<%= image_path('plus-chat.png')%>" alt="">
        <% end %>
      </div>
      <% @chats.each do |chat| %>
        <div class="grid-item conv">
          <div class="row">
            <h3 class="p-3"><%= chat.title %></h3>
            <p><% chat.messages.each do |m| %>
              <%= m.content.split.first(10).join(" ")%>
              <% end %></p>
          </div>
            <div class="row px-2">
              <div class="col-6 px-1">
                <%= link_to "Reprendre", chat_path(chat), class: "btn btn-chat d-flex"%>
              </div>
              <div class="col-6 px-1">
                <%= button_to chat_path(chat), method: :delete, class: "btn btn-secondary", data: { confirm: "Supprimer cette conversation ?" } do %>
                  Supprimer <i class="xfas xfa-trash"></i>
                <% end %>
              </div>
            </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
