<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Orient Ia" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Orient Ia">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <%= render "shared/navbar" %>

  <div class="container-fluid mt-5">
    <% if content_for?(:sidenav) %>
      <div class="row" data-controller="toggle">
        <div class="mt-2 px-4">
          <%= render "shared/sidenav_icons" %>
        </div>

        <nav class="col-md-2 pt-1" data-toggle-target="hideable">
          <%= render "shared/sidenav", chats: @chats || [], current_chat: @chat %>
        </nav>

        <div class="col-md-10 px-4">
          <%= render "shared/flashes" %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render "shared/flashes" %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
